Hackathon 1.json
{
  "name": "Hackathon 1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c4d5d3c2-7d83-42ba-9b4b-fbdba2aac43b",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        0
      ],
      "id": "cc3ef809-7750-4b18-90fa-9149acf5ee82",
      "name": "Webhook",
      "webhookId": "c4d5d3c2-7d83-42ba-9b4b-fbdba2aac43b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=you are an AI agent to run code execution commands on windows shell. You are Used for finding the ip address of the device within the current network that it is connected to. You must output a runnable command that will be be run directly on a command line tool as it is. Do not use any comments or unnecssary code/output.The result on execution should give an output like 192.168.0.0 for eaxmple and so on.It is run on windows shell. something like this powershell -Command \"ipconfig | Select-String 'IPv4 Address' | ForEach-Object { (\\$_ -split ':')[1].Trim() }\"\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        320,
        0
      ],
      "id": "d17c5149-fd4a-4dec-b363-503455e00d25",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        340,
        220
      ],
      "id": "26542eea-21fd-487e-9f19-b3d27ace020b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TSXyLLmh4vWiVdpY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2360,
        0
      ],
      "id": "1a1ed69c-3b92-4a9a-9f8a-6d49f113508a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "23456789",
        "contextWindowLength": 9
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        460,
        220
      ],
      "id": "e02a329e-0b38-4954-b992-d002cce65407",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "command": "={{ $json.output }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        680,
        0
      ],
      "id": "b5c2d556-a23f-4346-b82d-e98b07140d2d",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=calculate the network id and append it to the ip address {{ $json.stdout }} and then generate an nmap command for vulnerability analysis like nmap -sV --script=vuln {{ $json.stdout }} /network_portion --webxml -T4 -oX vuln_scan.xml\n\n based on the input. Do not generate anything else it will be directly executed in a windows shell.\ninput: {{ $json.stdout }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        900,
        -100
      ],
      "id": "b3cbcc72-9e6e-4a5d-bf32-70bc0b230fdd",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        920,
        120
      ],
      "id": "94259192-4b77-428a-b8a2-e0a828bf16e1",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "TSXyLLmh4vWiVdpY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "command": "={{ $json.output }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1260,
        0
      ],
      "id": "4bee8ddc-bb15-415e-b520-f19830439140",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "123456789"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1040,
        120
      ],
      "id": "f73f7b81-980c-43a9-bd94-5549a40aadff",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "command": "powershell -Command \"Invoke-WebRequest https://svn.nmap.org/nmap/docs/nmap.xsl -OutFile nmap.xsl\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1480,
        0
      ],
      "id": "7a64bb3e-a586-493b-94f9-4d1515486a7d",
      "name": "Execute Command3"
    },
    {
      "parameters": {
        "command": "powershell -Command \"(Get-Content vuln_scan.xml) -replace '<\\?xml-stylesheet href=\\\".*?\\\" type=\\\"text/xsl\\\"\\\\?>','<?xml-stylesheet href=\\\"nmap.xsl\\\" type=\\\"text/xsl\\\"?>' | Set-Content -Encoding UTF8 vuln_scan_fixed.xml\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1700,
        0
      ],
      "id": "8492c63b-4bea-4885-bb6c-e4f6dbe90cff",
      "name": "Execute Command4"
    },
    {
      "parameters": {
        "command": "powershell -Command \"Start-Process xsltproc -ArgumentList '--output','vuln_scan.html','nmap.xsl','vuln_scan_fixed.xml' -NoNewWindow -Wait\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1920,
        0
      ],
      "id": "51c77ce2-ba45-4ed9-a079-d751b86e43d2",
      "name": "Execute Command5"
    },
    {
      "parameters": {
        "fileSelector": "C:/n8n/vuln_scan.html",
        "options": {
          "fileName": "vuln_scan.html",
          "dataPropertyName": "vuln_scan"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2140,
        0
      ],
      "id": "b1502727-71c4-4deb-9cde-9b56b038e3a3",
      "name": "Read/Write Files from Disk",
      "executeOnce": false,
      "retryOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1704b691-f9a7-47fe-8387-64833f31daf3",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        460
      ],
      "id": "1de672ae-f518-43d2-a104-6605b726a627",
      "name": "Webhook2",
      "webhookId": "1704b691-f9a7-47fe-8387-64833f31daf3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate a detailed report it should have at least 1000 words and must follow this A report producing actionable documentation for stakeholders regarding identified vulnerabilities and patch statuses. ",
        "options": {
          "systemMessage": "Generate a detailed report it should have at least 1000 words and must follow this A report producing actionable documentation for stakeholders regarding identified vulnerabilities and patch statuses. Do not write terms like Q1,Q2 etc.Make it extremely professional"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        760,
        460
      ],
      "id": "53d1dca4-5329-463e-a54b-c73f60fb9856",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        780,
        680
      ],
      "id": "bd232a54-e437-4da7-b01b-2654c6b4b4dc",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "TSXyLLmh4vWiVdpY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "12345678900",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        900,
        680
      ],
      "id": "4e7aa989-565b-4e68-905a-dee7254d2748",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1120,
        460
      ],
      "id": "3a131378-0f63-4427-a691-dada1ae22c6f",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "fileSelector": "C:/n8n/vuln_scan.xml",
        "options": {
          "mimeType": "xml",
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        320,
        460
      ],
      "id": "2dd8d2b0-47f3-41c6-bca6-0fc0fd2fba52",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "xml",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        540,
        460
      ],
      "id": "c6204fb2-4be3-4ede-8b8c-14e7d3579647",
      "name": "Extract from File1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Execute Command3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command3": {
      "main": [
        [
          {
            "node": "Execute Command4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command4": {
      "main": [
        [
          {
            "node": "Execute Command5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command5": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d652bb64-928b-433b-90d3-337c618db4aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b0632dde6c042cabeb71d45f6bfdf5ff0c3b8fb331f76d002597c3d95ae6faa2"
  },
  "id": "BDv5eAkr2jkDBeZI",
  "tags": []
}